name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  contents: write
  pull-requests: write
  actions: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant
        if: |
          (github.event.comment && (contains(github.event.comment.body, 'I have read the CLA') || contains(github.event.comment.body, 'I hereby sign the CLA'))) || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          # Use the raw content URL for the CLA in this repository
          path-to-document: 'https://raw.githubusercontent.com/${{ github.repository }}/main/CLA.md'
          branch: 'main'
          allowlist: 'dependabot[bot],greenkeeper[bot]'
