name: "DCO sign-off check"

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  dco:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: DCO check
        uses: KineticCafe/actions-dco@v1
